@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Open+Sans:wght@300&family=Overlock:wght@700&family=Raleway:wght@300&display=swap');

/* font-family: 'Lancelot', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'Raleway', sans-serif; */

*,
*:before,
*:after{
    box-sizing: border-box;
}

:root {
  --debug: 1px solid red;
    --heading: #966750ff;
    --body: #F1EDE7ff;
    --body-part: #A5BACDff;
    --body-text: #403F3Fff;
    --links: #7B7A7Aff;
    --green: #1F6566ff;
    --brown: #B88663ff;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


    /* Desktop Design*/
    
body{
  background-color: #F1EDE7;
  max-width: 100vw;
  color: #403F3Fff;
}

.grid{
  max-width: 100vw;
}

.header-items{
  display: flex;
  justify-content: space-around;
  background-color: var(--brown);
}

.logo{
  background-size: cover;
  height: 3em;
  width: 10em;
  margin-top: 1.2em;
}


ul{
  flex: 1;
  list-style: none;
  padding: 1em;
  display: flex;
}

ul li a{
  text-decoration: none;
  padding: 15px;
  margin-left: 3em;
  color: #000;
  font-family: 'Lancelot', cursive;
  font-weight: 700;
}

ul li a:hover{
  text-decoration: underline;
  color: var(--green);
} 

/* .nav-icon-box{
  background-color: rgba(109, 105, 105, 0.897);
  align-self: center;
  cursor: pointer;
  padding: 1.2rem .5rem;
  border-radius: .2rem;
  display: none;
  position: relative;
}

.nav-icon{
  width: 2rem;
  height: .2rem;
  /* transform: translateY(1rem); 
   background-color: white;
}
.nav-icon-box::before{
  content: '';
  position: absolute;
  width: 2rem;
  height: .2rem;
  top: .8rem;
  left: .5rem;
  transition: all .3s;
  background-color: white;
}
.nav-icon-box::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: .2rem;
  top: 1.65rem;
  left: .5rem;
  transition: all .3s;
  background-color: white;
}
.checkbox{
  display: none; 
} */


/*End of Nav and header*/


/* Body container*/

.container{
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

/*Intro message about me*/
.intro{
  background-image: url(images/abstract.svg);
  background-size: cover;
  height: 20em;
}

.intro h1, h3{
  width: 30em;
  margin: auto;
  padding: 2em;
}

h1, h2, h3{
  font-family: 'Lancelot', cursive;
}

.about{
  display: flex;
} 

.main-about{
  flex-direction: row;
  width: 40em;
  margin: 3em; 
  word-spacing: 1.5px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.main-about-lilian{
  flex-direction: row;
  width: 40em;
  margin: 3em;
  word-spacing: 1.5px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

/*Readers/visitors info form*/

.forms{
  display: flex;
}

.msg{
  flex-direction: column;
  margin: 0 auto;
}

.msg h2{
  margin: 2em;
}

textarea{
 position: relative;
 display: flex;
 height: 10em;
 width: 15em;
 margin: 1em 3em 0 3em;
 color: var(--body-text);
 background-color: var(--body);
 font-size: 16px;
 border-color: var(--links);
}

.msg-form{
  display: flex;
  flex-direction: column; 
  text-align: center;
}

.dwnload{
  flex-direction: row;
  margin: 0 auto;

  /* padding: 2em 5em; */
}

.reader-info {
  /* height: 15rem;*/
  display: flex;
  flex-direction: column;
  width: 20rem; 
  border-radius: 8px;
  justify-content: center;
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  }

input, select {
  width: 100%;
  padding: 5px;
  margin: 2em 0 2em 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--body-text);
}

input::placeholder {
  color: var(--body-text);
}

button {
  display: flex;
  border: none;
  background-color: var(--green);
  border-radius: 8px;
  color: var(--body);
  padding: .5em 2em;
  font-size: 16px;
  margin: auto;
}
  
button:hover, .btn-item:hover {
  background: var(--links);
}

.contact{
  padding: 2em 5em;
}



/*Footer*/

footer{
  display: flex;
  background-color: var(--brown);
}

.design{
  margin: auto;
  color: #000;
}

.social{
  margin: auto;
  color: #000;
}

.social-icons{
  display: flex;
}

a i{
  padding: 1em 2em 0 0;
  color: var(--green);
  margin-left: 2em; 
}

a i:hover{
  color: var(--links);
}

a{
  color: #000;
  text-decoration: none;
}

a:hover{
  color: var(--links);
}





/* Mobile DESIGN*/

@media only screen and (max-width:768px){

  body{
    overflow-x: hidden;
    width: 100%;
  }

  .grid{
    width: 100%;

  }

  .logo{
    display: flex;
    margin-left: 2em;
  }

  .header-items{
    display: flex;
  }

  .navlinks{
    flex-direction: column;
    align-items: center;
  }

  /*New hamburger*/
  .hamburger{
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3.5%;
  }

  .line{
    background-color: #000;
    width: 40px;
    height: 3px;
    margin: 5px;
    transition: all .7s;
  }

  .nav-items ul {
    flex-direction: column;
    height: 60vh;
    width: 100vw;
    background-color: var(--brown);
    justify-content: center;
    /* align-items: center; */
    right: -0.5em;
    top: -25em;
    transition: top 0.9s;
    margin: 5px;
    position: absolute;
  }

  .ham .nav-items ul{
    /* right: -0.5em; */
    top: -0.5em;
  }

  .nav-items ul li a{
    margin-bottom: .5em;
    display: block;
  }

  .ham .line1{
    transform: rotateZ(-45deg) translate(-3px, 9px);
  }

  .ham .line2{
    opacity: 0;
  }

  .ham .line3{
    transform: rotateZ(45deg) translate(-3px, -9px);
  }


  /*End of Nav header*/



  /*Body Container*/
  .about{
    display: block;
    width: 20em;
  }

  .main-about{
  padding: 3em 3em 0 3em;
  margin-left: auto;
  margin-right: auto;
  }

  .main-about-lilian{
    padding: 3em 3em 0 3em;
    margin-left: auto;
    margin-right: auto;
  }

  .forms{
    flex-direction: column;
    justify-content: center;
  }

  .dwnload{
    width: 30em;
    margin: 3em auto;
    text-align: center;
  }

  .reader-info{
    margin-left: auto;
    margin-right: auto;
  }

  .contact{
    width: 30em;
  }

  .msg{
    flex-direction: column;
    margin: 3em auto;
  }


  /* Footer */
  footer{
    flex-direction: column;
    color: #000;
  }

  a i{
    padding: 1em auto;
    color: #000;
  }



  

}

