@import url('https://fonts.googleapis.com/css2?family=Delius&family=Lancelot&family=Overlock:wght@900&display=swap');

*,
*:before,
*:after{
    box-sizing: border-box;
}

:root {
  --debug: 1px solid red;
    --heading: #966750ff;
    --body: #F1EDE7ff;
    --body-part: #A5BACDff;
    --body-text: #403F3Fff;
    --links: #7B7A7Aff;
    --green: #1F6566ff;
    --brown: #C7998Cff;
}

html,
body {
  font-family: 'Delius', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
}


    /* Desktop Design*/
    
body{
  background-color: #F1EDE7;
  
  
  width: 100vw;
  height: 100vh;
  color: #403F3Fff;
}

/*.grid {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: 30% 200px auto;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}
section{
  grid-column: 2/4;
}*/

.header-items{
  display: flex;
  justify-content: space-between;
}

.logo{
  background-size: cover;
  height: 3em;
  width: 10em;
  margin-top: 1.2em 5em;
}


ul{
  flex: 1;
  list-style: none;
  padding: 1em;
  display: flex;
}

.navlinks li a{
  text-decoration: none;
  padding: 15px;
  margin-left: 3em;
  color: #403F3Fff;
  font-family: 'Overlock', cursive;
}

.navlinks li a:hover{
  border: .5px solid #EDD3D4ff;
  border-radius: 3px;
  padding: 5px;
  color: var(--green);
}

.nav-icon-box{
  background-color: rgba(109, 105, 105, 0.897);
  align-self: center;
  cursor: pointer;
  padding: 1.2rem .5rem;
  border-radius: .2rem;
  display: none;
  position: relative;
}

.nav-icon{
  width: 2rem;
  height: .2rem;
  /* transform: translateY(1rem); */
   background-color: white;
}
.nav-icon-box::before{
  content: '';
  position: absolute;
  width: 2rem;
  height: .2rem;
  top: .8rem;
  left: .5rem;
  transition: all .3s;
  background-color: white;
}
.nav-icon-box::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: .2rem;
  top: 1.65rem;
  left: .5rem;
  transition: all .3s;
  background-color: white;
}
.checkbox{
  display: none; 
}
/*End of Nav and header*/


/* Body container*/
.container{
  box-sizing: border-box;
  background-image: url(images/abstract.svg);
  background-color: inherit;
  background-repeat: no-repeat;
  color: #000;
  width: 100%;
  padding: 2em 5em;
}

/*Intro message about me*/
.intro{
  width: 30em;
  padding: 2em 5em;
}

h1, h2, h3{
  font-family: 'Overlock', cursive;
}

.about{
  display: flex;
  
}

.main-about{
  flex-direction: row;
  padding: 2em 5em;
}

.main-about-lilian{
  flex-direction: row;
  padding: 2em 5em;
}

/*Readers/visitors info form*/

.forms{
  display: flex;
}

.msg{
  flex-direction: row;
  margin: auto;
}

.msg h2{
  margin: 0 2em 0 2em;
}

textarea{
 position: relative;
 display: flex;
 height: 10em;
 width: 20em;
 margin: 1em 3em 0 3em;
 color: var(--body-text);
 background-color: var(--body);
 font-size: 16px;
 border-color: var(--links);
}

.msg.form{
  flex-direction: column;
}

.dwnload{
  flex-direction: row;
  padding: 2em 5em;
}

.reader-info {
  height: 15rem;
  width: 15rem;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  }

input, select {
  padding: 5px;
  margin: 2em 0 2em 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--body-text);
}

input::placeholder {
  color: var(--body-text);
}

button {
  width: 80%;
  border: none;
  background-color: var(--green);
  border-radius: 8px;
  color: var(--body);
}
  
button:hover, .btn-item:hover {
  background: var(--links);
}

.contact{
  padding: 2em 5em;
}



/*Footer*/

footer{
  display: flex;
  background-color: var(--brown);
}

.design{
  flex-direction: row;
  margin: auto;
}

.social{
  flex-direction: row;
  text-align: right;
  margin: auto;
  display: flex;
}

a i{
  padding: 1em 2em 0 0;
  color: var(--green);
  margin-left: 2.5em;
}

a i:hover{
  color: var(--links);
}



/* Mobile DESIGN*/

@media only screen and (max-width:768px){

.logo{
  display: flex;
}


.header-items{
  display: flex;
}

.navlinks{
  flex-direction: column;
}
.nav-icon-box{
  align-self: end;
  margin-right: auto;
  display: block;

}

ul{
width: 100%;
align-self: start;
display: flex;
flex-direction: column;
margin-left: 0;
align-items: flex-start;
list-style: none; }

li{
  margin-bottom: .5rem;
  display: none;
  transition: all .3s ; 
}
.checkbox:checked ~ ul li{
  display: block;
}

.checkbox:checked ~ .nav-icon-box .nav-icon {
  opacity: 0;
}
.checkbox:checked ~ .nav-icon-box::before{
  top: 1rem;
  transform: rotate(45deg) ;
}
.checkbox:checked ~ .nav-icon-box::after{
  top: 1rem;
  transform: rotate(-45deg) ;
}

/*End of Nav header*/

/*Body Container*/
.about{
  display: block;
  margin: auto;
  width: 30em;
}

.dwnload{
  width: 30em;
}

.contact{
  width: 30em;
}

.msg{
  flex-direction: column;
  margin: auto;
}




}


/*container{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 350px 600px 100px;
  grid-template-areas: "1 1 1 1 1 1 1 1 " "2 2 2 2 2 2 2 2 " 
  "as as as as as as as as" "ft ft ft ft ft ft ft ft";
  border: 2px solid aquamarine; 
}

header{ 
  grid-area: 1;
}
footer{ 
  grid-area: 2;
}
content{ 
  grid-area: s;
}
feature{
  grid-area: ft;
}*/
